.vertical-container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body{
	margin: 0;
	padding: 0;
	background-color: #333;
}


h1{ /*change font family of heading*/
	font-family: sans-serif;
}

li{ /*style the li tag*/
	list-style-type: none;
	font-family: sans-serif;
}

.skills{ /*style the text*/
	margin: 0 0 5%;
	width: 700px;
	//margin: 60px auto;
	color: #fff;
}

.skills li{ /*set margin of li*/
    display: grid;
    grid-template-columns: 27% 72%;
    grid-template-rows: 40px;
}


.bar{ /*style the bar*/
	margin: 10px;
	background-color: #353b48;
	display: grid;
	height: 7px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 5px #2187e7b3;
}

.bar span{ /*style the span tag*/
	height: 7px;
	float: left;
	background-color: #2187e7;
}

.per_0{
	width: 0%;
	animation: per_0 2s;
}

.per_10{
	width: 10%;
	animation: per_10 2s;
}

.per_20{
	width: 20%;
	animation: per_20 2s;
}

.per_30{
	width: 30%;
	animation: per_30 2s;
}

.per_40{
	width: 40%;
	animation: per_40 2s;
}

.per_50{
	width: 50%;
	animation: per_50 2s;
}

.per_60{
	width: 60%;
	animation: per_60 2s;
}

.per_70{
	width: 70%;
	animation: per_70 2s;
}

.per_80{
	width: 80%;
	animation: per_80 2s;
}

.per_90{
	width: 90%;
	animation: per_90 2s;
}

.per_100{
	width: 100%;
	animation: per_100 2s;
}


@keyframes per_10{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 10%;
	}
}

@keyframes per_20{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 20%;
	}
}

@keyframes per_30{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 30%;
	}
}

@keyframes per_40{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 40%;
	}
}

@keyframes per_50{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}

@keyframes per_60{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 60%;
	}
}

@keyframes per_70{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 70%;
	}
}

@keyframes per_80{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes per_90{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 90%;
	}
}

@keyframes per_100{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}
